.row.websites: .col-lg-12
  table.table.table-striped
    thead
      th= link_to 'Rank', root_url(order: 'rank')
      th= link_to 'Website', root_url(order: 'url')
      th= link_to 'Pageviews per user', root_url(order: 'pageviews_per_user')
    tbody
      = render @websites
      
  = paginate @websites
