.row: .col-lg-12
  = form_for ShortUrl.new do |f|
    .form-group
      = f.label :url, placeholder: 'Enter destination url'
      = f.text_field :url, class: 'form-control'
    = f.submit "Save", class: 'btn btn-success'
  table.table.table-striped
    thead
      th short url
      th destination url
      th clicks
    tbody
      - @urls.each do |url|
        tr
          td=short_url_url(url)
          td=url.url
          td=link_to url.clicks.count, info_short_url_path(url)
      
