.modal.fade#modal role="dialog" tabindex="-1" 
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button" 
          span aria-hidden="true"  &times;
        h4.modal-title Edit Website
      .modal-body
        = form_for :website, method: :patch, remote: true do |f|
          .form-group
            = f.label :rank
            = f.text_field :rank, class: 'form-control'
          .form-group
            = f.label :url
            = f.text_field :url, class: 'form-control'
          .form-group
            = f.label :pageviews_per_user
            = f.text_field :pageviews_per_user, class: 'form-control'
          = f.submit "Save", class: 'btn btn-success'